{block scripts}
	{include #parent}
	<script type="text/javascript" src="{$basePath}/js/netteSecured.js" n:if="!$disabledJavascript"></script>
{/block}

{block content}

<a n:href="signal!" data-nette-csrf-token="{$presenter->getCsrfToken()}">Do some action</a>

{if $disabledJavascript}
	<p>JavaScript is disabled. <a n:href="this, disabledJavascript => false">Enable JavaScript</a></p>
{else}
	<p>JavaScript is enabled. <a n:href="this, disabledJavascript => true">Disable JavaScript</a></p>
{/if}
